.header {
    height: 62px;
    position: absolute;
    width: 100%;
    background-color: rgba(255,255,255,0.1);
    line-height: 62px;
    box-shadow: 0 0 10px #000;
    &__logo {
        float: left;
        line-height: 62px;
        margin-right: 60px;
        &__img {
            display: inline-block;
            vertical-align: middle;
        }
    }

    &__nav {
        vertical-align: middle;
        
    }

    &__contactBtn-container {
        float: right;
        
    }
    &__contactBtn {
        border: 3px solid @blue-main;
        padding: 10px 40px;
        color: @blue-main;
        text-transform: uppercase;
        font-family: "RalewayBold", sans-serif;
        font-size: 12px;
        transition: background 0.3s, color 0.3s;
        &:hover {
            background: @blue-main;
            color: #fff;
        }
        &:focus {
            color: @blue-main;
            &:hover {
                color: #fff;
            }
        }
    }
}

.menu {
    list-style: none;

    &__item {
        float: left;
        margin-right: 25px;
    }

    &__item:hover .inner-menu {
        display: inline-block;
    }

    &__link {
        color: @gray-main;
        text-transform: uppercase;
        padding-bottom: 10px;
        &:hover {
            color: @gray-main;
            border-bottom: 2px solid @blue-main;
        }
        &:focus {
            color: @gray-main;
            border-bottom: 2px solid @blue-main;
        }

    }
}

.inner-menu {
    display: none;
    position: absolute;
    
    &__item {
       background-color: rgba(255,255,255,0.5);
       text-align: center;
    }

    &__link {
        color: @gray-main;
        text-transform: uppercase;
        padding-bottom: 10px;
        
        &:hover {
            color: @gray-main;
            border-bottom: 2px solid @blue-main;
        }
    }
}
