.callUsModal {
  &__header {
    font-family: "RobotoBlack", sans-serif;
    font-size: 20px;
    color: @gray-main;
  }
  &__contacts-list{
      list-style: none;
      padding: 0;
      margin: 0;

    &__mail{
        font-family: "FiraSansRegular", sans-serif;
        font-size: 18px;
        color: #000; 
          &:before {
            content: ' ';
            display: inline-block;
            background: url("../imgs/iconsSprite.png") no-repeat;
           background-position: -0px -136px; 
           width: 19px; 
           height: 15px;
          }
    }

    &__tel{
      font-family: "FiraSansRegular", sans-serif;
      font-size: 18px;
      color: #000;
        &:before {
          content: ' ';
          display: inline-block;
          background: url("../imgs/iconsSprite.png") no-repeat;
          background-position: -24px -114px; 
          width: 25px; 
          height: 16px;
        }
    }

    &__skype{
      font-family: "FiraSansRegular", sans-serif;
      font-size: 18px;
      color: #000;
        &:before {
          content: ' ';
         display: inline-block;
         background: url("../imgs/iconsSprite.png") no-repeat;
         background-position: -19px -136px; 
         width: 25px; 
         height: 17px;
        }
    }
  }
}