body, html {
    height: 100%,
}

.wrapper {
    min-height: 100%;
    padding-bottom: 85px;
}

.mainSection {
    background: url("/imgs/bgMainSection.png") top center;
    background-size: cover;
    
   
    &__container {
        padding-top: 200px;
        padding-bottom: 70px;
    }   

    &__header {
        color: #fff;
        text-transform: uppercase;
        font-family: "RalewayBold", sans-serif;
        font-size: 50px;
        letter-spacing: 5px;
    }

    &__img {
        margin-top: -15px;
        margin-bottom: 15px;
    }

    &__capture {
        color: @gray-main;
        font-family: "OpenSansRegular", sans-serif;
        font-size: 18px;
        width: 435px;
        margin-bottom: 30px;
    }

    &__btn {
        padding: 20px 70px;
    }
}

.aboutUsSection {
    background: url("../imgs/bgMap.png") no-repeat;
    background-color: #f6f4f4;
    background-position: center;

    &__containerLeft {
      margin-top: 205px;
    }
    &__header {
        color: #000;
        font-size: 20px;
        text-transform: uppercase;
        font-family: "OpenSansBold", sans-serif;
        margin-bottom: 30px;

        &:before {
            content: "";
            background-image: url("../imgs/beforeDecHeader.png");
            background-repeat: no-repeat;
            display: block;
            height: 10px;  
            margin: auto; 
            margin-bottom: 30px;    
        }
    }

    &__capture {
        color: @gray-main;
        font-family: "OpenSansRegular", sans-serif;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 30px;
        width: 350px;
    }

    &__btn {
        padding: 15px 25px;
    }

    &__containerRight {
        padding-bottom: 20px;
    }

    &__bigPhoto {
        // max-height: 400px;
        margin-top: -36px;
        margin-left: -10%;
        
    }

    &__smallPhoto {
        margin-top: -250px;
        margin-left: -90px;     
    }

}

.journalSection {

    &__header {
        font-family: "OpenSansBold", sans-serif;
        font-size: 30px;
        color: #000;
        text-transform: uppercase;
        margin-bottom: 60px;
        &:before {
            content: "";
            background-image: url("../imgs/beforeDecHeader.png");
            background-repeat: no-repeat;
            display: block;
            height: 10px;  
            width: 85px;
            margin: auto;
            margin-bottom: 35px;
            margin-top: 70px;     
        }
    }

    &__cardsContainer {
        box-shadow: 0 0 10px #ccc;
        width: auto;
    }

    &__row {
        font-size: 0;
    }

    &__imgCard {
        padding: 0 !important;
        position: relative;
    }

    &__img {
       
    }

    &__smallImg {
        position: absolute;
        left: 50%;
        top: 50%;

        &.like {
        margin-top: -40px;
        margin-left: -40px;
        }

        &.sign {
           margin-top: -37px;
           margin-left: -30px; 
        }

        &.blief {
            margin-left: -32px;
            margin-top: -30px;
        }
    }
    &__textCard {
        padding: 0 !important;
        width: 380px;
        height: 100px;
        font-size: 20px;
        text-align: center;

        &__name {
            color: @blue-main;
            text-transform: uppercase;
            font-family: "OpenSansBold", sans-serif;
            font-size: 11px;
            text-align: center;
            margin-bottom: 50px;
            display: inline-block;
        }

        &__header {
            font-family: "OpenSansBold", sans-serif;
            text-transform: uppercase;
            text-align: center;
            width: 250px;
            margin: auto;
            margin-bottom: 25px;
        }

        &__content {
            font-family: "OpenSansRegular", sans-serif;
            font-size: 14px;
            text-align: center;
            margin-bottom: 30px;
            line-height: 20px;
        }

        &__count {
            font-family: "Times New Roman", serif;
            font-size: 14px;
            text-align: center;
            font-style: italic;
        }
    }
}

.footer {
    height: 85px;
    background: #3e5d68;
    margin-top: -85px;
}

@media screen and (min-width: 1400px) {
    .aboutUsSection{
     &__bigPhoto {
        margin-left: -215px;
    }

    &__smallPhoto {
        margin-top: -250px;
        margin-left: -150px;
    }
    }
}