body, html {
    height: 100%,
}

.wrapper {
    min-height: 100%;
    padding-bottom: 85px;
}

.headerSecond {
        color: #000;
        font-size: 30px;
        text-transform: uppercase;
        font-family: "OpenSansBold", sans-serif;

        &:before {
            content: "";
            background-image: url("../imgs/beforeDecHeader.png");
            background-repeat: no-repeat;
            display: block;
            height: 10px;  
            margin: auto; 
            margin-bottom: 30px;    
        }
}

.contentText {
    color: @gray-main;
    font-family: "OpenSansRegular", sans-serif;
    font-size: 14px;
    line-height: 20px;
}

.mainSection {
    background: url("/imgs/bgMainSection.png") top center;
    background-size: cover;
    &__container {
        padding-top: 200px;
        padding-bottom: 70px;
    }   

    &__header {
        color: #fff;
        text-transform: uppercase;
        font-family: "RalewayBold", sans-serif;
        font-size: 50px;
        letter-spacing: 5px;
    }

    &__img {
        margin-top: -15px;
        margin-bottom: 15px;
    }

    &__capture {
        font-size: 18px;
        width: 435px;
        margin-bottom: 30px;
    }

    &__btn {
        padding: 20px 70px;
    }
}

.aboutUsSection {
    background: url("../imgs/bgMap.png") no-repeat;
    background-color: #f6f4f4;
    background-size: 70%;
    background-position: center;

    &__containerLeft {
      margin-top: 205px;
    }
    &__header {
        font-size: 20px;
        margin-bottom: 30px;
    }

    &__capture {
        margin-bottom: 30px;
        width: 350px;
    }

    &__btn {
        padding: 15px 25px;
    }

    &__containerRight {
        padding-bottom: 20px;
    }

    &__bigPhoto {
        margin-top: -36px;
        
    }

    &__smallPhoto {
        margin-top: -250px;
        margin-left: -10%;     
    }

}

.journalSection {

    &__header {
        margin-bottom: 60px;
        &:before {
            width: 85px;
            margin-bottom: 35px;
            margin-top: 70px;     
        }
    }

    &__cardsContainer {
        box-shadow: 0 0 17px #ccc;
        margin-bottom: 90px;
    }

    &__row {
        font-size: 0;
    }

    &__imgCard {
        padding: 0 !important;
        position: relative;
        width: 380px;
        height: 380px;
    }

    &__smallImg {
        position: absolute;
        left: 50%;
        top: 50%;

        &.like {
        margin-top: -40px;
        margin-left: -40px;
        }

        &.sign {
           margin-top: -37px;
           margin-left: -30px; 
        }

        &.blief {
            margin-left: -32px;
            margin-top: -30px;
        }
    }
    &__textCard {
        padding: 0 !important;
        margin: 0;
        width: 380px;
        height: 380px;
        font-size: 20px;
        text-align: center;
        height: 380px;
       
        &__name {
            color: @blue-main;
            text-transform: uppercase;
            font-family: "OpenSansBold", sans-serif;
            font-size: 11px;
            text-align: center;
            margin-bottom: 50px;
            margin-top: 47px;
            display: inline-block;
        }

        &__header {
            font-family: "OpenSansBold", sans-serif;
            text-transform: uppercase;
            text-align: center;
            width: 320px;
            margin: auto;
            margin-bottom: 30px;
            
            &__textThrough {
                text-decoration: line-through;
            }
        }

        &__content {
            text-align: center;
            margin: 0 auto;
            margin-bottom: 42px;
            width: 270px;
        }

        &__count {
            font-family: "Times New Roman", serif;
            font-size: 14px;
            text-align: center;
            font-style: italic;
        }
    }
}

.weOffer {
    box-shadow: 0 -1px 20px #ccc;
    &__header {
        margin-bottom: 40px;
        margin-top: 10px;
        &:before {
            width: 84px;
        }
    }
   
}
// custom styling for table
.dataTables_wrapper {
    font-family: "OpanSansRegular", sans-serif;
    font-size: 16px;
}
.pagination > .active > a {
    background-color: @blue-main;
    border-color: @blue-main;
    &:focus {
        outline: none;
    }
}

.wonnaGoSection {
    background-color: #f6f4f4;
    background-image: url("../imgs/bgWonnaGo.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    padding-top: 145px;

    &__header {
        font-size: 20px;
        margin-bottom: 25px;        
    }

    &__content {
        width: 705px;
        font-size: 16px;
        margin-bottom: 33px;
    }

    &__form {
        margin-bottom: 18px;
        position: relative;
        &__fName, &__phone {
            height: 70px;
            width: 300px;
            border: none;
            padding: 25px;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            font-family: "OpenSansRegular", sans-serif;
            color: @gray-main;

            &:focus {
                outline: none;
            }
        }

        &__phone {
            width: 550px;
            border: none;
            padding: 25px;
            margin-left: -5px;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: none;
            border-top-left-radius: none;
            
            &:before {
                display: block;
                content: "sdsd";
            }
        }
        &__errorName {
            position: absolute;
            top: -20px;
            left: 20px;
        }

        &__errorPhone {
            position: absolute;
            top: -20px;
            left: 320px;
        }
        &__btn {
            padding: 23px 57px;
            margin-left: -211px;
        }
    }

    &__warr {
        font-family: "OpenSansRegular", sans-serif;
        color: @blue-main;
        font-size: 14px;
        margin-bottom: 322px;

        &:before {
            content: "" ;
            background: url("../imgs/iconsSprite.png");
            display: block;
           background-position: -0px -151px; width: 14px; height: 16px;
            float: left;   
            margin-right: 12px;
            margin-top: -2px;
        }
    }
}
// custom validation error styling
.error {
    color: #ccc;
    font-family: "OpenSansRegular", sans-serif;
}

.howWeWorkSection {

     &__header {
        margin-bottom: 98px;
        &:before {
            width: 85px;
        }  
     }

      &__grid {
        background: url("../imgs/howWeWorkGrid.png");
        background-repeat: no-repeat;
        width: 880px;
        margin: 0 auto;
        margin-bottom: 105px;
        position: relative;
        height: 375px;
      }

      &__container {
         position: absolute;
          &__count {
                width: 48px;
                height: 48px;
                border-radius: 24px;
                border: 3px solid @blue-main;
                margin: 0 auto;
                transform: translateY(-50%);
                margin-bottom: 32px;
                background: #fff;
                position: relative;
          }
          &__num {
            color: @blue-main;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: "RobotoBlack", sans-serif;
            font-size: 16px;

          }

          &__circle {
                width: 180px;
                height: 180px;
                border-radius: 90px;
                background: #f0f3f6;
                position: relative;
                margin: 0 auto;
                margin-bottom: 30px;

              &__img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
              }
          }

          &__header {
            font-family: "RobotoBlack", sans-serif;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            line-height: 24px;
          }

          &__capture {
            font-family: "RobotoLight", sans-serif;
            font-size: 16px;
            color: #949494;
            text-align: center;
            line-height: 24px;
            width: 200px;
          }
          &.docSign {
              left: -84px;
          }
          &.personSign {
              left: -21px;
          }
          &.bookSign {
            right: -475px;
          }
          &.checkSign {
            right: -538px;
          }
      }
    } 








.travelWithUsSection {
    height: 1024px;
    background-image: url(../imgs/bgtravelWithUs.png);
    background-size: 100% 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    margin-bottom: 72px;
    &__header {
        margin-bottom: 100px;

        &:before {
            width: 85px;
        }
    }
   
    &__cardContainer {
        width: 17%;
        margin-right: 3%;
        position: relative;
        border-radius: 3px;
        padding: 0;
        margin-bottom: 194px;

        &:hover {
        cursor: pointer;
        animation-name: pulse;
        animation-duration: 0.2s;
        transform: scale3d(1.05, 1.05, 1.05);
            @keyframes pulse {
                from {
                    transform: scale3d(1, 1, 1);
                }

                25% {
                    transform: scale3d(1.05, 1.05, 1.05);
                }
                
                to {
                    transform: scale3d(1, 1, 1);
                }
            }
        }

        &__carpathian {
            background: url(../imgs/bgCarpathian.jpg);
            background-size: 100% 120%;
        }
        &__alps {
            background: url(../imgs/bgAlps.jpg);
        }

        &__pyrenees {
            background: url(../imgs/bgPyrenees.jpg);
            background-size: 100% 120%;
        }
        &__rocky {
            background: url(../imgs/bgRocky.jpg);
        }
        &__kavkaz {
            background: url(../imgs/bgKavkaz.jpg);
        }

        &__stars {
            margin: 15px auto 132px 22px;
        }

        &__header {
            color: #fff;
            font-family: "OpenSansRegular", sans-serif;
            font-size: 28px;
            margin: auto auto 17px 22px;
        }

        &__capture {
            margin: auto auto 65% 22px;
            font-family: "OpenSansRegular", sans-serif;
            color: #fff;
            font-size: 16px;
        }

        &__priceContainer {
           background-color: rgba(88, 90, 81, 0.5);
           width: 100%;
           position: absolute;
           bottom: 0px;
           height: 62px;
           line-height: 62px;
           vertical-align: middle;
           border-radius: 3px;

            &__oldPrice {
                margin-left: 22px;
                text-decoration: line-through;
                color: #fff;
                font-family: "OpenSansRegular", sans-serif;
                font-size: 18px;
            }

            &__price {
                position: absolute; 
                right: 0;
                margin-right: 12px;
                font-family: "OpenSansExtraBold", sans-serif;
                font-size: 26px;
                color: #fff;
            }
        }
    }
}

.orderTravelModal {
    &__header {
        font-family: "RobotoBlack", sans-serif;
        font-size: 30px;
        color: @gray-main;
    }
    &__price {
        font-size: 30px;
        margin-bottom: 20px;
    }
    &__capture {
        font-size: 20px;
    }
    &__country {
        text-transform: uppercase;
    }
    &__btn {
        padding: 10px 40%;
        display: block !important;
        margin-left: auto;
        margin-right: auto;
    }
    
}

.gallerySection {
    margin-bottom: 80px;
    &__header {
        margin-bottom: 73px;
        text-align: center;
        &:before {
            width: 85px;
        }
    }

    &__grid[data-columns]::before {
        content: '3 .column.size-1of3';
    }
    
    .gallerySection__firstRow {
        margin-bottom: 29px;
        transition: transform 0.2s, filter 0.1s;
        &:hover {
            filter: grayscale(50%);
            transform: scale(1.1);
        }
    }
    
    &__secondRow {
         transition: transform 0.2s, filter 0.1s;
        &:hover {
            filter: grayscale(50%);
            transform: scale(1.1);
        }
    }
    .column { 
            float: left; 
    }
    
    &__firstCol {
        margin-right: 29px;
    }
    
    &__secondCol {
        margin-right: 29px;
    }
}  

.brandSection {
    background: #f8f9fa;
    &__carousel {
        margin-top: 75px;
        margin-bottom: 75px;
    }   
}

.ourClientsSaySection {
    background: url("../imgs/bgOurClientsSay.png");
    background-size: 100% 80%;
    background-repeat: no-repeat;
    background-position: bottom;

    &__header {
        text-align: center;
        margin-top: 70px;
        margin-bottom: 90px;
        &:before {
            width: 85px;
        }
    }

    &__quote {
      color: #bcbcbc;
      font-family: "OpenSansRegular", sans-serif;
      font-size: 18px;
      line-height: 33px;
      margin-bottom: 35px;

        &:before {
            content: "";
            display: block;
            background: url("../imgs/iconsSprite.png");
            background-position: -0px -114px; 
            width: 24px; 
            height: 22px;
            margin-bottom: 20px;
        }
    }

    &__author {
        line-height: 65px;
        margin-bottom: 140px;
        &__photo {
            border-radius: 50%;
            margin-right: 20px;
        }

        &__name {
            color: @blue-main;
            font-size: 16px;
            font-family: "OpenSansRegular", sans-serif;
            vertical-align: top;
        }
        &__name strong {
            vertical-align: top;
            font-weight: bolder;
        }
    }

    &__contactForm {
        width: 515px;
        padding: 42px 30px 50px 30px; 
        margin: 0 auto;
        background: url(../imgs/bgform.png);
        background-size: 100% 100%;
        border-radius: 10px;
        margin-bottom: 165px;
       
        &__header {
            text-transform: uppercase;
            color: @blue-main;
            font-size: 30px;
            font-family: "OpenSansRegular", sans-serif;
            font-weight: bolder;
            letter-spacing: 5px;
            text-align: center;
            margin-bottom: 16px;
        }

        &__capture {
            color: #000;
            font-size: 16px;
            font-family: "OpenSansRegular", sans-serif;
            text-align: center;
            margin-bottom: 34px;
        }

        &__input {
            display: block;
            width: 100%;
            border: none;
            border-radius: 3px;
            padding: 24px 20px;
            color: @gray-main;
            font-family: "RobotoLight";
            font-size: 18px;
            margin-top: 20px;
        
            &:focus {
                outline: none;
            }
        }
        &__errorName {
            position: absolute;
        }
        &__errorNumber {
            position: absolute;
        }
        &__errorEmail {
            position: absolute;
        }
        &__btn {
            padding: 30px 203px; 
            margin-top: 20px;
            letter-spacing: 2px;  
        }
    }
}

.mapSection {
    &__header {
        margin-bottom: 20px;
        text-align: center;
        &:before {
            width: 85px;
        }
    }
}

.footer {
    height: 85px;
    background: #3e5d68;
    margin-top: -85px;
    line-height: 83px;
    
    &__copyright {
      color: #78aebe;
      font-family: "OpenSansRegular", sans-serif;
      font-size: 18px;
    }

    &__social {
      text-align: center;
      font-size: 0;

        &__item {
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
        }
        &__item:last-child {
            margin-right: 0;
        }

        &__link {
            display: block;
            background: url(../imgs/iconsSprite.png);
            background-repeat: no-repeat;
            width: 38px;
            height: 38px;
            transition: transform 0.3s;
           &:hover {
               transform: scale(1.2);
           }
        }
        &__link.tw {
            background-position: 0 0;
        }
        &__link.fb {
            background-position: 0 -75px;
        }
        &__link.vk {
            background-position: 0 -38px;
        }
    } //--- end social

    &__number {
        font-family: "RobotoBlack", sans-serif;
        font-size: 27px;
        color: #7ec4d6;
        font-weight: bolder;
        float: right;
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    .journalSection {
        &__textCard {
           left: 560px !important;
        }
    }

    .gallerySection {
       margin-bottom: 20px;
        &__firstRow {
            margin-bottom: 15px !important;
        }

        &__firstCol {
            margin-right: 15px;
            width: 275px;
        }
        
        &__secondCol {
            margin-right: 15px;
        }
        &__fColImg{
            width: 219px;
        }
        &__sColImg{
            width: 300px;
        }
        &__tColImg{
            width: 380px;
        }
    }
    .column.size-1of3 {
        width: auto;
    }
    
}

@media (min-width: 768px) and (max-width: 992px) {
    .mainSection {
        background-size: 150% 100%;
        background-repeat: no-repeat;
        background-position: 15% 150%;
    }
    .aboutUsSection {
       background-position: 50% 20%;
       &__containerLeft {
           margin-top: 100px;
       }
        &__header {
            text-align: center;
            &:before {
                width: 85px;
            }
        }

        &__capture {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
        &__btnContainer {
           text-align: center;
            margin-bottom: 90px;
        }
    }

    .wonnaGoSection {
        &__form {
            &__fName {
                width: 250px;
            }
            &__phone {
                width: 450px;
            }

            &__errorPhone {
                left: 273px;
            }
        }
    }

    .howWeWorkSection {
       margin-bottom: 30px;
        &__header {
            margin-bottom: 0;
        }
        &__grid {
            background: none;
            width: auto;
        }
        &__container {
            position: static;

            &__capture {
                width: auto;   
            }
            &__count {
                margin-top: 50px;
            }
        }
    }

    .travelWithUsSection {
        background-size: 100% 80%;
        padding-top: 150px;
        &__cardContainer {

            &__stars {
                margin-left: 15px;
                margin-bottom: 100px;
            }
            &__header {
                margin-left: 0;
            }
            &__capture {
                margin-left: 10px;
            }
            &__priceContainer {

                &__oldPrice {
                    margin: 0;
                    font-size: 13px;
                }
                &__price {
                    margin: 0;
                    font-size: 20px;
                }
            }
        }
    }

    .journalSection {
        &__cardsContainer {
            width: 380px !important;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }

    .ourClientsSaySection {
        &__header {
            margin: 50px 0;
        }

        &__author {
            margin-bottom: 0;
        }

        &__contactForm {
            width: 450px;

            &__btn {
                padding: 30px 170px;
            }
        }
    }
 
    .gallerySection {
       margin-bottom: 20px;
        &__firstRow {
            margin-bottom: 5px !important;
        }

        &__firstCol {
            margin-right: 5px;
            width: 275px;
        }
        
        &__secondCol {
            margin-right: 5px;
        }
        &__fColImg{
            width: 170px;
        }
        &__sColImg{
            width: 233px;
        }
        &__tColImg{
            width: 295px;
        }
    }
    .column.size-1of3 {
        width: auto;
    }
}     

@media (max-width: 768px) {
    .mainSection {
       &__header {
           font-size: 38px;
       } 
       &__img {
          width: 350px; 
       }
       &__capture {
           width: 300px;
       }
       &__btn {
           padding: 20px 65px;
       }
    }

    .aboutUsSection {
       background-position: 50% 20%;
       &__containerLeft {
           margin-top: 100px;
       }
        &__header {
            text-align: center;
            &:before {
                width: 85px;
            }
        }

        &__capture {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
        &__btnContainer {
           text-align: center;
            margin-bottom: 90px;
        }
       &__smallPhoto {
           width: 220px;
           margin-top: -210px;
       }
    }

    .wonnaGoSection {
        &__content {
            width: 500px;
        }
        &__form {
            &__fName {
                width: 200px;
            }
            &__phone {
                width: 315px;
            }

            &__errorPhone {
                left: 225px;
            }
            &__btn {
                padding: 23px 25px;
                margin-left: -148px;
            }
        }
    }

    .howWeWorkSection {
       margin-bottom: 30px;
        &__header {
            margin-bottom: 0;
        }
        &__grid {
            background: none;
            width: auto;
        }
        &__container {
            position: static;

            &__capture {
                width: auto;   
            }
            &__count {
                margin-top: 50px;
            }
        }
    }

    .travelWithUsSection {
        background-size: 100% 85%;
        height: 745px;
        &__cardContainer {

            &__stars {
                margin-left: 10px;
                margin-bottom: 80px;
            }
            &__header {
                margin-left: 0;
                font-size: 22px;
            }
            &__capture {
                margin-left: 5px;
            }
            &__priceContainer {

                &__oldPrice {
                    margin: 0;
                    font-size: 13px;
                }
                &__price {
                    margin: 0;
                    font-size: 20px;
                }
            }
        }
    }

    .ourClientsSaySection {
        background-size: 100% 60%;

        &__header {
            margin: 25px 0;
        }

        &__author {
            margin-bottom: 0;
        }

        &__contactForm {
            width: 450px;

            &__btn {
                padding: 30px 170px;
            }
        }
    }

    .journalSection {
        &__cardsContainer {
            width: 380px !important;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }

    .gallerySection {
       margin-bottom: 20px;
        &__firstRow {
            margin-bottom: 5px !important;
        }

        &__firstCol {
            margin-right: 5px;
            margin-left: 40px;
        }
        
        &__secondCol {
            margin-right: 5px;
        }
        &__fColImg{
            width: 200px;
           
        }
        &__sColImg{
            width: 275px;
        }
        &__tColImg{
            display: none;
        }
    }
    .column.size-1of3 {
        width: auto;
    }

    .footer {
        &__copyright {
            font-size: 11px;
        }
        &__number {
            font-size: 19px;
        }
    }
}

@media (max-width: 580px) {
    .mainSection {
        &__header {
        font-size: 18px; 
        letter-spacing: 0; 
        }
        &__img {
            width: 180px;
            margin-top: -8px;
        }
        &__capture {
            font-size: 13px;
            width: 180px;   
        }
        &__btn{
            padding: 10px 25px;
        }

    }
}
